@use "/src/common/styles/index.scss" as *;

.card {
  @include flexColumnConstructor(start, start, 1rem);

  border-radius: 24px;
  padding: 22px 24px 24px 24px;
  width: 100%;
  min-height: 337px;
  height: auto;
  flex: 1;

  background: $gray-0;
  transition: all 300ms;

  @include s {
    border-radius: 12px;
    padding: 16px;
    min-height: auto;
  }

  &:hover {
    background: $red-50-main;

    .buttonWrapper {
      display: block;
    }

    .icon {
      background: rgba(245, 245, 245, 0.25);

      & > * > * {
        fill: $gray-0;
      }
    }
  }

  .icon {
    @include flexColumnConstructor(center, center);

    border-radius: 16px;
    width: 64px;
    height: 64px;

    background: $gray-100;

    margin-bottom: 1.5rem;

    @include s {
      border-radius: 10px;
      margin-bottom: 1rem;
    }
  }

  .contentWrapper {
    @include flexColumnConstructor(start, start);
    .title {
      @include title3($gray-700);

      @include lg {
        @include title4($gray-700);
      }
      @include md {
        @include text_m($gray-700);
      }
    }
    .description {
      @include text_m($gray-500, 500);

      @include lg {
        @include text_s($gray-500, 400);
      }
      @include s {
        @include text_xs($gray-500, 400);
      }
    }
  }

  .buttonWrapper {
    display: none;
    width: 100%;
  }
}
