@use "/src/common/styles/index.scss" as *;

.contacts {
  padding: 100px 208px 160px 208px;
  width: 100%;
  height: auto;

  @include lg {
    padding: 80px 104px 140px 104px;
  }
  @include md {
    padding: 60px 52px 100px 52px;
  }
  @include s {
    padding: 32px 20px 64px 20px;
  }

  .contactsContainer {
    @include flexRowConstructor(start, space-between, 1rem);

    width: 100%;
    height: auto;

    @include md {
      height: auto;
      flex-direction: column;
    }
    @include s {
      gap: 2rem;
      border-radius: 24px;
    }

    .info {
      @include flexColumnConstructor(start, start, 3.75rem);

      max-width: 600px;
      width: 100%;

      @include s {
        gap: 1.5rem;
      }

      .infoTitle {
        @include flexColumnConstructor(start, start);

        :nth-child(1) {
          @include label_l($red-50-main, 400);
          text-transform: uppercase;

          margin-bottom: 22px;

          @include md {
            @include label_m($red-50-main, 400);
          }
          @include s {
            @include label_s($red-50-main, 400);
          }
        }
        :nth-child(2) {
          @include h1($gray-700);
          text-transform: uppercase;

          margin-bottom: 24px;

          @include lg {
            @include h2($gray-700);
          }
          @include md {
            @include h3($gray-700);
          }
          @include s {
            margin-bottom: 15px;
            @include h4($gray-700);
          }
        }
        :nth-child(3) {
          @include label_l($gray-600, 400);
          text-transform: none;

          @include lg {
            @include label_m($gray-600, 400);
            text-transform: none;
          }
          @include md {
            @include text_s($gray-600, 400);
            text-transform: none;
          }
        }
      }

      .infoBlock {
        @include flexColumnConstructor(start, start, 1.25rem);

        @include s {
          gap: 0.75em;
        }

        .infoRow {
          @include flexRowConstructor(center, start, 0.5rem);

          & > :nth-child(1) {
            @include flexRowConstructor(center, center);
            border-radius: 45px;
            width: 36px;
            height: 36px;

            background: $gray-0;
          }
          & > :nth-child(2) {
            @include label_l($gray-600, 500);
            text-transform: none;
            text-decoration: none;

            @include lg {
              @include label_m($gray-600, 500);
              text-transform: none;
            }
            @include md {
              @include label_s($gray-600, 500);
              text-transform: none;
            }
            @include s {
              @include text_s($gray-600, 400);
              text-transform: none;
            }
          }
        }
      }
    }
  }
}
