@use "/src/common/styles/index.scss" as *;

.contacts {
  padding: 100px 208px;
  height: auto;

  @include lg {
    padding: 80px 104px;
  }
  @include md {
    padding: 60px 52px;
  }
  @include s {
    padding: 32px 20px;
  }

  .contactsContainer {
    @include flexColumnConstructor(start, start, 4.375rem);
    width: 100%;

    @include lg {
      gap: 50px;
    }
    @include md {
      gap: 40px;
    }
    @include s {
      gap: 32px;
    }

    .title {
      @include flexRowConstructor(start, space-between, 0.5rem);
      width: 100%;

      @include s {
        flex-direction: column;
      }

      & > * > :nth-child(1) {
        @include flexColumnConstructor(start, start, 1.375rem);

        & > :nth-child(1) {
          @include label_l($red-50-main);

          @include md {
            @include label_m($red-50-main);
          }
          @include s {
            @include label_s($red-50-main);
          }
        }
        & > :nth-child(2) {
          @include h1($gray-700);

          @include lg {
            @include h2($gray-700);
          }
          @include md {
            @include h3($gray-700);
          }
          @include s {
            @include h4($gray-700);
          }
        }
      }

      & :nth-child(2) {
        align-self: flex-end;

        @include s {
          align-self: flex-start;
        }

        & > :nth-child(1) {
          @include text_l($gray-600, 400);

          @include lg {
            @include text_m($gray-600, 400);
          }
          @include md {
            @include text_s($gray-600, 400);
          }
          @include s {
            width: 95%;
          }
        }
      }
    }

    .cardsWrapper {
      overflow: hidden;
      @include flexRowConstructor(start, start, 1.25rem);
      flex-wrap: wrap;

      @include s {
        justify-content: center;
      }

      & > div {
        // flex-grow: 1;
        width: 100%;
        max-width: 24%;
        min-width: 233px;

        @include s {
          max-width: none;
          min-width: 100%;
        }
      }
    }
  }
}
